.grid-ofertas{
    display: grid;
    grid-template-columns: 8vw 25vw 40vw;
    gap: 15px;
    margin-bottom: 20px;
}
.container-card{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}


#ciudades{
    margin: 10px;
    padding: 8px;
}

.entrega{
    margin: 10px;
    padding: 8px;
}


.item3{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: start;
    margin: 10px;
}

.h1-ofertas{
    margin-top: 90px;
    line-height: 50px;
    font-size: 3rem;
    font-weight: 500;
}


.card-form{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    font-size: var(--text-size-small);
    padding-left: 0;
    margin-top: 10px;
}

.precio-caja{
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.tamano-ramo{
    display: flex;
    justify-content: center;
    margin: 10px;
    margin-top: 20px;
    padding: 8px;
    gap: 30px;
    
}
.checkcontainer{
    display: grid;
    grid-template-columns: repeat(2, 8vw);
    gap: 15px;
    justify-content: center;
    align-items: center;
    padding: 5px;
    font-size: 1rem;
}

.tipo-ramo{
    color: #cf7d24;
    text-transform: var(--text-uppercase);
}
.img-ramo{
    width: 8vw;
    height: 8vw;
}

.btn-carro{
    width: 20vw;
    color: #000000;
    text-transform: var(--text-uppercase);
    background-color: var(--color-negro);
}

.btn-carro, .btn-atras{
    font-weight: 600;
    letter-spacing: 2px;
    background-color: transparent;
    border-width: thin;
    padding: 10px 20px;
    margin-top: 20px;
    margin-left: 10px;
}

.btn-carro:hover{
    background-color: #00711c;
    color: #ffffff;
    cursor: pointer;
}


.btn-atras{
    width: 10vw;
    color: #000;
    text-transform: var(--text-uppercase);
    background-color: var(--color-blanco);
}

.btn-atras:hover{
    cursor: pointer;
    background-color: rgba(255, 94, 94, 0.311);
}

.descripcion {
    margin-top: 20px;
}
.card-text{
    margin: 20px;
    font-size: 1rem;
    margin-bottom: -20px;
}

.card-text > ul li {
    list-style-type: circle;
}

.bgd-color{
    background-color: #333333;
    color: #ffffff;
}

