.rebajas {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#rebajas-container {
   
    display: grid;
    grid-template-columns: repeat(4, 19vw);
    grid-template-rows: 32vw 32vw 32vw;
    gap: 30px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.h3-rebajas{
    margin: 10px 0;
}
.pre {
    display: flex;
    gap: 20px;
}

.box-rebajas {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px;
    margin-top: 50px;
}

.box-pre {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    margin: 7px 0;
    width: 100%;
    
}

.precio {
    font-size: 0.9rem;
    text-decoration: line-through;
    color: #df4545;
}

.precio_rebaja {
    font-size: 1rem;
}

.image{
    object-fit: cover;
    justify-items: left;
}

.img-rebajas {
    margin-top: 30px;
    height: 20vw;
    
}


.btn-rebajas {
    background: none;
    border: 1px solid var(--color-principal);
    border-radius: 20px;
    width: 8vw;
    padding: 8px 0;
}
.btn-rebajas:hover {
    background-color: #4f0044;
    color: #fff;

}

.btn-rebajas a:hover {
    color: #fff;
}