.h1-mantenimiento{
    text-align: center;
    font-size: 3rem;
    color: var(--color-title);
    
}

.margin-top{
    margin:  100px;
    background-color: var(--color-background);
}

.img-galeria{
    width: 60vw;
    height: 40vw;
}

.review-content {
    position: absolute;
    top: 60%;
    left: 38%;
    transform: translate(-50%, -20%);
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30vw;
    height: 20vw;
  }
  
  .review-text {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .review-author {
    font-style: italic;
    margin-bottom: 10px;
  }
  
  .review-rating {
    font-size: 1.5rem;
    color: gold;
  }
  
  .review-buttons button {
    background-color: #f8a5c2;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    font-size: 1rem;
  }
  
  .review-buttons button:hover {
    background-color: #f78fb3;
  }
  